.border-danger{
    background-color:lightgrey;
    stroke: blue;
}

.container{
    background-color: paleturquoise;
}

.card{
    background-color: paleturquoise;
}

h1{
    color: blue;
}

#counter {
    position: relative;
justify-content:center;
align-items: center;
}
#over {
    position:absolute;
    top: auto;
    left: auto;
    width: 10%;
}
#over1 {
    position:absolute;
    top: auto;
    left: auto;
    
}
